@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li,
ol,
ul {
  list-style: none;
}

body {
  background-color: #151143;
}

header {
  position: relative;
  background-color: #fff;
  height: 55px;
}

header h1 {
  width: 100%;
  height: 100%;
}

header h1 img {
  margin: 8px 20px;
}

.container {
  position: relative;
  width: 100%;
  height: calc(100vh - 55px);
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

.panels {
  width: 100%;
  height: 100%;
}

li {
  position: absolute;
  width: 60%;
  height: 100%;
  opacity: 0;
  left: 0%;
  transition: opacity 1s;
}

.panels li.on {
  opacity: 1;
}

.bg-logo {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  right: 20px;
  transform: scale(0.9);
}

.mobile-panel {
  display: none;
}

.mobile-panel img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.main-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10%;
  opacity: 1;
}

.login-section__container {
  position: absolute;
  top: 6%;
  left: calc(80% - 250px);
  width: 500px;
  height: 65%;
  min-height: 515px;
  border-radius: 12px;
  padding: 20px 15px;
  background-color: #fff;
  z-index: 10;
}

.login-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  margin: 0 auto;
}

.logo__container {
  position: relative;
  width: 170px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__container img {
  width: 130px;
  animation: logoSizeChange 1.5s ease 1;
}

.logo__container::after {
  display: block;
  content: '';
  position: absolute;
  top: 85%;
  left: 5%;
  z-index: 3;
  width: 90%;
  height: 2px;
  background-color: #ddd;
  animation: fadeIn 2.5s ease 1;
}

.sublogo {
  font-size: 15px;
  font-weight: 500;
}

.login-input {
  width: 290px;
  margin: 30px auto;
}

input[type="text"],
input[type="password"] {
  float: left;
  width: 192px;
  height: 35px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 8px;
  padding-left: 10px;
  font-family: "Noto Sans KR", sans-serif;
}

.login-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  color: #fff;
  width: 90px;
  height: 78px;
  background-color: #181E3F;
  border-radius: 5px;
}

.login-more {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.find-id a {
  font-size: 14px;
  color: #181E3F;
  text-decoration: underline;
}

.find-id a:hover {
  color: #777;
}

.login-input .save-id {
  display: flex;
  align-items: center;
}

.login-input .save-id span {
  font-size: 13.5px;
}

.select__container {
  display: flex;
  width: 290px;
  justify-content: space-between;
  margin-bottom: 8px;
}

.lang-text {
  position: relative;
  font-size: 14px;
}

select {
  width: 192px;
  height: 25px;
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
}

select:valid {
  padding-left: 7px;
  color: #777;
}

.regist {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.sign-in {
  width: 100%;
  height: 30px;
  background-color: #181E3F;
  border-radius: 5px;
}

.sign-in a {
  display: block;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in img {
  width: 19px;
  margin-right: 5px;
}

.sign-in a span {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.sign-in a:hover span {
  color: #ddd;
}

input[type="checkbox"],
.sign-in img {
  margin-right: 5px;
}

.icon {
  width: 20px;
}

.notice .notice__phrase {
  width: 80%;
  margin-left: 10%;
  font-size: 13px;
  text-align: center;
  margin-top: 30px;
  word-break: keep-all;
}

.notice .notice__copyright {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
}


@keyframes logoSizeChange {
  0% {
    transform: scale(1.6);
  }

  20% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    background-color: transparent;
  }

  30% {
    background-color: transparent;
  }

  100% {
    background-color: #ddd;
  }
}

@media screen and (max-width: 1400px) {
  .h1-eng {
    display: none;
  }

  .h1-kor {
    display: none;
  }

  .main-bg {
    object-position: 10%;
  }

  .login-section__container {
    top: 2%;
    transform: scale(0.9);
  }

  .bg-logo {
    bottom: -30px;
    right: -30px;
    transform: scale(0.7);
  }
}

@media screen and (max-width: 1180px) {
  .main-bg {
    object-position: 25% 10%;
  }

  .login-section__container {
    left: 60%;
    width: 40%;
    height: 75%;
  }
}

@media screen and (max-width: 950px) {
  .icon {
    width: 17px;
  }

  header {
    display: block;
    top: 0;
  }

  header h1 img {
    display: block;
    margin: 8px auto;
  }

  .panels {
    display: none;
  }

  .mobile-panel {
    display: block;
  }

  .login-section__container {
    width: 360px;
    height: 80%;
    min-height: 450px;
    padding-top: 15px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo__container {
    width: 130px;
    height: 130px;
  }

  .logo__container::after {
    display: none;
  }

  .logo__container img {
    width: 120px;
  }

  .sublogo img {
    transform: scale(0.8);
  }

  .login-input {
    transform: scale(0.9);
    margin: 15px auto;
  }

  .sign-in a span {
    font-size: 13px;
  }

  .notice .notice__phrase {
    font-size: 12px;
    width: 90%;
    margin-left: 5%;
  }

  .notice .notice__copyright {
    font-size: 10px;
    width: 90%;
    margin-left: 5%;
  }


}